@charset 'UTF-8';

html {
  scroll-behavior: smooth;
}

body {
  $bg-1: rgba(#24CCAA, 0.4);
  $bg-2: rgba(#A2DB95, 0.4);

  font-family: $font-base;
  background: #f1f1f1;
  background: linear-gradient(to right, $bg-1 , $bg-2);
  opacity: .9;
  color: setColor(gray, c3);
  font-size: 16px;
}

a {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a1a1a1;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #a1a1a1;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #a1a1a1;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #a1a1a1;
}
input::placeholder {
  color: #a1a1a1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: setColor(gray, c3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: setColor(gray, c2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: setColor(main, c2);
}
