<section class="home">
  <h1>Quests da região do Morumbi/Chácara</h1>

  <div class="container-flex">
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
    <app-card-pokestop class="card"></app-card-pokestop>
  </div>
</section>
